@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow: hidden; make sure to write this so that there is no overflow */
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: black;
  color: white;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 300;
}

#wrapper{
    display: flex;
    flex-direction: row;
}
#left{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
#right{
    flex: 1;
}

/* sign in */
#signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding-bottom:1rem ;
}
#signin form{
    width: 80%;
    padding-bottom: 3rem;
}
#signin .logo{
    margin-bottom: 8vh;
}
#signin .logo img{
    margin-top: 100px;
    width: 300px;
}
#signin label{
    font-size: 0.9rem;
    line-height: 2rem;
    font-weight: 500;
}
#signin .textinput{
    margin-bottom: 1.3rem;
    width: 100%;
    border-radius: 2px;
    background-color: #181818;
    border: 1px solid #555;
    color: #ccc;
    padding: 0.5rem 1rem;
    line-height: 1.3rem;
}

#signin .secondary-btn,
.or,
.links{
    width: 60%;
}
#signin .links a{
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
    display: block;
    text-align: center;
    font-size: 0.9rem;
}

#signin .or{
    display: flex;
    flex-direction: row;
    margin-bottom: 1.2rem;
    align-items: center;
}

#signin .or .bar{
    flex: auto;
    border: none;
    height: 1px;
    background-color: #555;
}

#signin .or span{
    color: #555;
    padding: 0 0.8rem;
}
/* showcase */
#showcase{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('../images/image2.png') no-repeat center center/cover;
    text-align: center;
    height: 100vh;
}

#showcase .showcase-text{
    font-size: 3rem;
    width: 100%;
    color: white;
    margin-bottom: 1.5rem;
}

showcase .secondary-btn{
    width: 60%;
    margin: auto;
}


#mainfooter{
    color: #555;
    text-align: center;
    font-size: 0.8rem;
    max-width: 80%;
    padding-top: 5rem;

}
#mainfooter a{
    color: #f96816;
    text-decoration: underline;
}

/* Button */

#signin .primary-btn{
    width: 100%;
}
.primary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 0;
    border-radius: 2px;
    font-weight: 500;
    background-color: #f96816;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s; /*this helps to make transition in hover state not sharp change but making gradual change in the given second*/
}

.primary-btn:hover{
    background-color: #ff7b39;
    color: rgb(99, 24, 1);
}

.secondary-btn{
    padding: 0.7rem 1rem;
    height: 2.7rem;
    display: block;
    border: 1px solid #f4f4f4;
    border-radius: 2px;
    font-weight: 500;
    background-color:none;
    color: white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.5s; /*this helps to make transition in hover state not sharp change but making gradual change in the given second*/
}

.secondary-btn:hover{
    border-color: #f96816;
    color: #f96816;
}

/* Media Queries */
@media(min-width:1200px) {
    #left{
        flex: 4;
    }
    #right{
        flex:6
    }
}
@media(max-width:768px){
    body{
        overflow: auto;
    }
    #right{
        display: none;
    }
    #left{
        justify-content: start;
        margin-top: 2vh;
    }
    #signin .logo{
        margin-bottom: 2vh;
    }

    #signin .textinput{
        margin-bottom: 0.7rem;

    }
    #mainfooter{
        padding-top: 1rem;
    }
}